<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <h1>Welcome, {{username}}</h1>
        <div class = 'navright'>
            <form action="/mypage">
                <button>My Page</button>
            </form>
            <form action="/logout">
                <button>Logout</button>
            </form>
        </div>
    </div>
    <div class="posting">
        <div>
            <h2>Posts</h2>
            <div class="posts">
            {%for post in posts%}
            <div class ="post">
                <div class = "posttop">
                <h3>{{post.post_title}}</h3>
                {% if post.user_id == session.user_id %}
                <h5>Posted by: {{post.username}}</h5>
                {%else%}
                <h5>Posted by: <a href="/page/{{post.user_id}}" class="link">{{post.username}}</a></h5>
                {%endif%}    
                </div>
                {{post.post_contents}}

            </div>
            {%endfor%}                
            </div>

        </div>
        <div class="postright">
            <div class="makeapost">
            <h2>Make a Post!</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <form action="/posts/save" method="POST">
                    <p>Title:</p>
                    <input type="text" name="post_title">
                    <p>Content:</p>
                    <textarea name="post_content" rows="5" cols="51"></textarea>
                    <button class = 'postbtn'>POST</button>
            </form>                
            </div>

            <div>
                <h2>Following: </h2>
            </div>            
        </div>

    </div>
</body>
</html>