<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Welcome, {{username}}</h1>
        <div>
            <form action="/mypage">
                <button>My Page</button>
            </form>
            <form action="/logout">
                <button>Logout</button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <h2>Posts</h2>
            {%for post in posts%}
            <div>
                <div>
                <h3>{{post.post_title}}</h3>
                <h5>Posted by: {{post.username}}</h5>    
                </div>
                {{post.post_contents}}

            </div>
            {%endfor%}
        </div>
        <div>
            <h2>Make a Post!</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <form action="/posts/save" method="POST">
                    <p>Title:</p>
                    <input type="text" name="post_title">
                    <p>Content:</p>
                    <textarea name="post_content" rows="5" cols="51">
                    </textarea>
                    <button>POST</button>
            </form>            
        </div>

    </div>
</body>
</html>